<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musicapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".application.AudioStreamerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.SpleshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.ForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.GalleryEventGridActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.GalleryGridShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.UserProfileActivity" />
        <activity
            android:name=".activity.AudioListActivity"
            android:label="@string/title_activity_audio_list"
            android:theme="@style/AppTheme">



        </activity>
        <activity android:name=".activity.MusicActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_audio_list"
            android:theme="@style/AppTheme">

        </activity>

        <service
            android:name="dm.audiostreamer.AudioStreamingService"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name="dm.audiostreamer.AudioStreamingReceiver">
            <intent-filter>
                <action android:name="dm.audiostreamer.close" />
                <action android:name="dm.audiostreamer.pause" />
                <action android:name="dm.audiostreamer.next" />
                <action android:name="dm.audiostreamer.play" />
                <action android:name="dm.audiostreamer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <activity
            android:name=".activity.UserUpdateActivity"
            android:label="@string/title_activity_user_update"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>